#burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    background: grey;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.menu-open {
    transform: translateX(0);
}

.menu-closed {
    transform: translateX(100%) scale(0, 1);
}

.burger-menu-item {
    font-size: 4rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
}

#burgerCurrentPage {
    color: #343078;
}


@media (max-width: 750px) {
        
    #burger-menu {
        display: flex;
        width: 100%;
    }
        
    .burger-menu-item {
        font-size: 1.5rem;
        text-align: center;
    }
}