#burger {
    position: fixed;
    top: 5%;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger-line {
    width: 3rem;
    height: 0.25rem;
    background: #effffa;
    border: 1px solid #effffa;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

#burger-line-dark {
    background: black;
    border: 1px solid #effffa;
}

.burger-line-open:first-child {
    transform: rotate(45deg);
    color: #effffa;
}

.burger-line-open:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.burger-line-open:nth-child(3) {
    transform: rotate(-45deg);
}

.burger-line-closed:first-child {
    transform: rotate(0);
}

.burger-line-closed:nth-child(2) {
    opacity: 1;
    transform: translateX();
}

.burger-line-open:nth-child(3) {
    transform: rotate(o);
}

#burger:focus {
    outline: none;
}
  



@media (max-width: 750px) {
        
    #burger {
        display: flex;
    }   
}