#aw-about {
    float: left;
    margin-top: 30vw;
    margin-left: 10vw;
    width: 35%;
    font-size: 2vw;
}

#aaron {
    float: right;
    margin-top: 5vw;
    margin-right: 10vw;
    margin-bottom: 20px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}