input {
    width: 100%;
}

label, textarea {
    width: 100%;
    margin-bottom: 5px;
}

#email-message {
    height: 80px;
}

#contact-form {
    width: 60%;
    margin: auto;
    margin-top: 10vw;
    padding: 5px;
}

#fname, #lname, #email, #subject, #email {
    margin-bottom: 20px;
}

#fname, #lname {
    width: 46%;
}

#lname {
    margin-left: 8%;
}

#contact-submit {
    margin-bottom: 2vh;
}

#submitted-message {
    text-align: center;
    color: green;
}