.content {
   margin-top: 5vw;
}

img {
    width: 100%;
    cursor: pointer;
}

.row {
    margin: 2vw;
}

.col {
    padding: .5vw;
    margin: .5vw;
}

#life-nav-div {
    margin-bottom: 5vw;
    margin-right: 5vw;
    text-align: right;
}

#life-nav {
    font-size: 2vw;
    color: black;
    text-decoration: none;
}

#photo {
    animation-name: image-fade;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.mobile-container {
    display: none;
}


@keyframes image-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media (max-width: 750px) {
    #life-nav {
        font-size: 5vw;  
    }

    .image-container {
        display: none;
    }

    .mobile-container {
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(30vw, auto));
        grid-template-rows: 20vh 1fr;
        column-gap: 3vw;
        row-gap: 3vw;
    }
    
    #mobile-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        animation-name: image-fade;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-delay: .8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
}