.content {
   margin-top: 5vw;
}

img {
    width: 100%;
    cursor: pointer;
}

.row {
    margin: 3vh;
}


#life-nav-div {
    margin-bottom: 5vw;
    margin-right: 5vw;
    text-align: right;
}

#life-nav {
    font-size: 2vw;
    color: black;
    text-decoration: none;
}

#photo {
    animation-name: image-fade;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: .8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.mobile-container {
    display: none;
    width: 90%;
    margin: auto;
}


@keyframes image-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media (max-width: 750px) {
    #life-nav {
        font-size: 5vw;  
    }

    .image-container {
        display: none;
    }

    .mobile-container {
        display: block;
    }
    
}